apiVersion: apps/v1
kind: Deployment
metadata:
  name: ingestor
  namespace: hft
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ingestor
  template:
    metadata:
      labels:
        app: ingestor
    spec:
      containers:
      - name: ingestor
        image: ingestor:latest
        ports:
        - containerPort: 2112
